<html>
<title>ECSDI STORE | Register product</title>
<body>
    <div class="center">
            <h1>Register new product</h1>
            <form method="POST">
                <input type="text" name="seller" placeholder="Seller"/><br>
                <input type="text" name="product_name" placeholder="Product Name"/><br>
                <input type="text" name="brand" placeholder="Product Brand"/><br>
                <input type="text" name="category" placeholder="Product Category"/><br>
                <input type="text" name="image_url" placeholder="Product Image URL"/><br>
                <textarea name="product_description" placeholder="Product Description"></textarea><br>
                <input type="number" name="price_euros" placeholder="Price (€)"/><br>
                <input type="number" name="weight_grams" placeholder="Weight (g)"/><br>
                <input type="submit" value="Register">
            </form>
    </div>
</body>
</html>

<style>
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
</style>